# Supabase Configuration
VITE_SUPABASE_URL=https://kgvvbmjdewnufymdviym.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_6hdCBHPH-Hlj0C4h-FlvuA_yLWog1q2
VITE_SUPABASE_SECRET_KEY=sua_chave_service_role_aqui
